body{
    height:100%;
    position: relative;
    color: rgb(153, 122, 122);
    background-color:rgb(156, 156, 156);
    padding: 0;
    margin: 0;
}.main{
    position: relative;
    top: 40px;
    padding-bottom:100px;
}
/*
nav menu
*/
.navMenu{
    text-align: center;
    position: relative;
    background-image: url("../images/wood-texture.jpg");
    background-size: cover;
    background-color: rgb(98, 83, 83);
    padding:12px ;
    border: 3px outset #693707;
    margin: 0px;
    left:0px;
    font-style: oblique;
}
a{  
    color: #600000;
    font-size: 40px;
    position: relative;
    margin: -2.5px;
    text-decoration:none;
    padding:12px 32px ;
    border:2px none #4b2c04; 
    border-right: 2px #600000 solid;
    border-left: 2px #600000 solid;    
}
a:link{
    color: #e00b0b;
    text-shadow: 1px 1px #b10606;
}
a:active{   
    color: #600000;
    text-shadow: 1px 1px #b10606;
}
a:visited{
    color: #600000;
    text-shadow: 1px 1px #b10606;
}
a:hover{
    background-color: rgba(209, 106, 22, 0.5);
    color: #501414;
    text-shadow: 1px 1px #c5c4c4;
}
.pastPage{
    background-color: rgba(209, 106, 22, 0.8);
    color:white;
}
/*
nav menu
*/

.carousel{
    max-width: 800px;
    position:relative;
    margin: auto;
}
.mySlides{
    display:none;
}
.previous, .next{
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: .9s ease;
    border-radius: 0px 3px;
    user-select: none;
}
.next{
    right:0;
    border-radius: 3px 0px;
}
.previous:hover, .next:hover{
    background-color: rgba(0,0,0,0.8);
}
.text{
    color: silver;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom:8px;
    width:100%;
    text-align: center;
}
.number{
    color: silver;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top:0;
}
.active{
    background-color: #717171;
}
.fade{
    animation-name:fade;
    animation-duration: 1.5s; 
}
@keyframes fade{
    from {opacity: .4}
    to {opacity: 1}
}
img{
    width: 100%;
    height:450px;
}
.envelopeDiv{
    position: relative;
    top: 120px;
    text-align: center;
   padding-bottom:150px;

}
.envelopeImg{
    width: 50%;
    height: 400px;
    filter: sepia(70%);
}
.footerBox{
   position:relative; 
   bottom:0;
   text-align:center;
   background-color:#604040;
   padding: 0;
   height:50px;
   color:white;
}