body{
    height:100%;
    position: relative;
    color:  rgb(204, 200, 200);
   background-color:rgb(50, 50, 50);
    text-align: center;
    text-shadow: 1px 1px #757575 ;
    padding: 0;
    margin: 0;
}
.main{
    position: relative;
    top: 40px;
    padding-bottom:100px;
}
/*navmenu*/
.navMenu {
    position: relative;
    background-color: rgb(71, 71, 71);
    padding:12px ;
    border: 3px solid #757575;
    margin: 0px;
    left:0px;
}
a{
    font-size: 40px;
    position: relative;
    margin: -2.5px;
    text-decoration:none;
    padding:12px 32px ;
    border:2px solid #757575; 
}
a:active{   
    color: rgb(204, 200, 200);
}
a:visited{
    color: rgb(204, 200, 200);
}
a:link{
    color: rgb(204, 200, 200);
}
a:hover{
    background-color: #757575;
    color: white;
}
.cataloguePage{
    background-color: #757575;
}
.homePage{
    background-color: #757575;
}
.dealerPage{
    background-color: #757575;
}
.aboutPage{
    background-color: #757575;
}
/*navmenu*/ 
.svgimage{
    top:100px;
    position: relative;
    height:200px;
    width:400px;
}
.buttonSwitcher{
    background-image: url('../images/brushed-Aluminium.jpg');
    height: 50px;
    width: 100px;
    font-size: 20px;
    color: rgb(238, 246, 253);
}
.catalogueImage{
    width: 1000px;
    height: 600px;
}
.suggestionButton{
    position:absolute;
    bottom:0;
    right:10px;
}
.carDiv{
    text-align: center;
}
/*
Form css
*/
.openButton{
    background-color:#555;
    color: whitesmoke;
    padding:16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom:23px;
    right:28px;
    width:280px;
}
.popUp{
    display:none;
    position:fixed;
    bottom:0;
    right:30px;
    border: 3px solid #f1f1f1;
    z-index: 9;
    width: 250px;
    max-width:300px;
    max-height: 300px;
    padding: 10px;
    background-color: #f1f1f1;
    text-shadow: 0px 0px;
}
.formContainer h1{
    color:black;
}

.btn{
    background-color: rgb(13, 70, 16);
    color: #ffffff;
    padding: 12px 10px;
    border: none;
    cursor: pointer;
    width: 50%;
    margin-top:10px;
    margin-bottom:10px;
    opacity:0.8;
}
.formBoxes{
    text-align:center;
    height:50px;
    color:#2e2d2d;
}
.formButtons{
    padding: 20 0 15 0;
    padding-bottom:40px;
}
.cancel{
    background-color: red;
}
.btn:hover{
    opacity:1;
}
.open-button:hover{
    opacity:1;
}
/*
Form css
*/
.footerBox{
    position: absolute;
    bottom:0;
}