body{
    height:100%;
    position: relative;
    color:  rgb(204, 200, 200);
   background-color:rgb(50, 50, 50);
    text-align: center;
    text-shadow: 1px 1px #757575 ;
    padding: 0;
    margin: 0;
}
/*navmenu*/
.navMenu {
    position: sticky;
    background-color: rgb(71, 71, 71);
    padding:12px ;
    border: 3px solid #757575;
    margin: 0px;
    left:0px;
}
.main{
    position: relative;
    top: 40px;
}
a{
    font-size: 40px;
    position: relative;
    margin: -2.5px;
    text-decoration:none;
    padding:12px 32px ;
    border:2px solid #757575; 
}
a:active{   
    color: rgb(204, 200, 200)
}
a:visited{
    color: rgb(204, 200, 200);
}
a:link{
    color: rgb(204, 200, 200);
}
a:hover{
    background-color: #757575;
    color: white;
}
#navIcon{
    height:50px;
    width:50px;
    left:2px;
}

/*navmenu*/ 
.svgimage{
    top:100px;
    position: relative;
    height:200px;
    width:400px;
}
.buttonSwitcher{
    background-image: url('../images/brushed-Aluminium.jpg');
    height: 50px;
    width: 100px;
    font-size: 20px;
    color: aliceblue;
}
.catalogueImage{
    width: 1000px;
    height: 600px;
}
.suggestionButton{
    position: absolute;
    bottom:0;
    right:10px;
}
.carDiv{
    text-align: center;
}
.openButton{
    background-color:#555;
    color: whitesmoke;
    padding:16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom:23px;
    right:28px;
    width:280px;
}
.popUp{
    display:none;
    position: fixed;
    bottom:0;
    right:15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
}
.formContainer{
    max-width: 300px;
    padding: 10px;
    background-color: white;
}
.formContainer input[type=text]:focus{
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: white;
} 
.formContainer input[type=text]:focus{
    background-color: #ddd;
    outline:none;
}
.btn{
    background-color: #4caf50;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity:0.8;

}
.cancel{
    background-color: red;
}
.btn:hover{
    opacity:1;
}
.open-button:hover{
    opacity:1;
}